.header {
  height: 100px;
  background-image: url(https://www.epam.com/etc/designs/epam-core/images/components/redesign/background-video/bg-video.png);
  letter-spacing: .1rem;
  width: 100%;
  position: fixed;
  z-index: 101;
}
.header h1 {
  margin-bottom: 0;
  font-size: 1.8rem;
  color: #fff;
}
.header .container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 0;
}
.navigator {
  display: flex;
  align-items: center;
  color: #fff;
}
.navigator .nav-link {
  color: #fff;
  transition: color ease .4s;
}
.navigator .nav-link:hover {
  color: #222;
}
.navigator .nav-link.active {
  color: #222;
}
@media (max-width: 768px) {
  .header {
    height: 80px;
  }
  .header .container {
    flex-direction: column;
    justify-content: center;
  }
}
